In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('auto.csv')

In [15]:
print(df.to_string())

    index    company   body-style  wheel-base  length engine-type  num-of-cylinders  horsepower  average-mileage    price
0     1.0     Toyota        Sedan       108.1   188.8          V6               6.0       190.0             28.0  22000.0
1     2.0      Honda    Hatchback        97.0   169.1          I4               4.0       150.0             32.0  18000.0
2     3.0       Ford          SUV       112.5   189.7          V8               8.0       300.0             22.0  35000.0
3     4.0        BMW        Coupe       101.2   174.5   In-line-6               6.0       250.0             26.0  45000.0
4     5.0       Audi  Convertible       104.5   179.5          V6               6.0         NaN             27.0  40000.0
5     6.0  Chevrolet  Convertible       100.4   171.0          V8               8.0       350.0             24.0      NaN
6     7.0   Mercedes        sedan       108.7   193.2          V8               8.0       400.0             21.0  55000.0
7     8.0     Nissan    Hatchback        99.0   170.4          I4               4.0       180.0             30.0  25000.0
8     9.0     Subaru        Wagon       104.1   184.3     Boxer-4               4.0       170.0             25.0  27000.0
9    10.0      Tesla        Sedan       116.5   191.2    Electric               0.0       450.0            130.0  60000.0
10   11.0       Ford    Hatchback        98.0   171.0          I4               4.0       160.0             29.0  19000.0
11   12.0     Toyota          SUV       110.0   182.0          V6               6.0       210.0             26.0  24000.0
12   13.0  Chevrolet        Sedan       104.3   178.5          I4               4.0       130.0             33.0  16000.0
13   14.0      Honda        Coupe        98.5   175.2          I4               4.0       145.0             32.0  20000.0
14   15.0        BMW        Sedan       105.0   179.1   In-line-6               6.0         NaN             28.0  46000.0
15   16.0       Audi  Convertible        99.5   171.8          I4               4.0       190.0             27.0  42000.0
16   17.0   Mercedes        Coupe       102.5   176.3          V8               8.0       300.0             24.0  52000.0
17   18.0      Tesla          SUV       116.0   193.8    Electric               0.0       500.0            120.0  75000.0
18   19.0     Nissan        Sedan       104.0   179.0          I4               4.0       170.0             30.0  23000.0
19   20.0     Toyota        Wagon       104.8   182.4          V6               6.0       210.0             25.0  28000.0
20   21.0        Kia        Sedan       107.2   184.5          I4               4.0       180.0             32.0  22000.0
21   22.0     Subaru          SUV       111.0   183.7     Boxer-4               4.0       200.0             22.0  33000.0
22   23.0       Ford        Sedan       106.8   178.0          V6               6.0       240.0             27.0  26000.0
23   24.0  Chevrolet          SUV       112.0   189.0          V6               6.0       250.0             20.0  34000.0
24   25.0       Audi    Hatchback        98.5   170.8          I4               4.0       160.0             29.0  21000.0
25   26.0        BMW  Convertible       101.5   174.7   In-line-6               6.0       270.0             25.0  47000.0
26   27.0      Honda        Wagon       104.3   183.4          I4               4.0       190.0             31.0  23000.0
27   28.0     Nissan          SUV       110.1   188.0          V6               6.0       220.0             24.0  31000.0
28   29.0     Toyota        Sedan       106.4   176.5          I4               4.0       160.0             33.0  18000.0
29   30.0      Honda          SUV       109.8   183.2          V6               6.0       230.0             26.0  33000.0
30   31.0       Ford        Sedan       107.5   179.9          V6               6.0       210.0             28.0  24000.0
31   32.0     Subaru        Sedan       106.0   174.5     Boxer-4               4.0       150.0             30.0  20000.0
32   33.0   Mercedes        Wagon       111.4   193.0          V8               8.0       350.0             23.0  45000.0
33   34.0      Tesla        Coupe       115.3   191.5    Electric               0.0       400.0            130.0  65000.0
34   35.0        Kia    Hatchback        98.3   169.9          I4               4.0       130.0             34.0  18000.0
35   36.0   Chrysler          SUV       113.2   188.0          V6               6.0       260.0             22.0  35000.0
36   37.0     Nissan  Convertible        99.8   171.5          I4               4.0       175.0             29.0  22000.0
37   38.0       Audi          SUV       110.0   180.4          V6               6.0       240.0             23.0  38000.0
38   39.0       Ford        Wagon       107.8   184.2          V8               8.0       350.0             21.0  40000.0
39   40.0  Chevrolet        Sedan       105.6   178.2          I4               4.0       150.0             31.0  21000.0
40   41.0     Toyota        Coupe       101.2   173.8          I4               4.0       170.0             32.0  25000.0
41   42.0      Honda        Sedan       108.1   182.9          I4               4.0       180.0             29.0  24000.0
42   43.0        BMW          SUV       112.3   185.7    Inline-6               6.0       280.0             24.0  50000.0
43   44.0  Chevrolet    Hatchback       100.0   170.0          I4               4.0       160.0             30.0  20000.0
44   45.0     Nissan        Coupe        99.2   170.7          I4               4.0       150.0             34.0  18000.0
45   46.0      Tesla          SUV       116.7   192.3    Electric               0.0       480.0            120.0  70000.0
46   47.0       Ford  Convertible       102.5   174.0          V8               8.0       400.0             20.0  38000.0
47   48.0        BMW        Sedan       103.8   179.3   In-line-6               6.0       260.0             25.0  47000.0
48   49.0       Audi        Coupe       105.2   181.4          I4               4.0       180.0             28.0  42000.0
49   50.0  Chevrolet        Wagon       110.2   185.6          V6               6.0       220.0             22.0  32000.0
50    1.0     Toyota        Sedan       108.1   188.8          V6               6.0       190.0             28.0  22000.0
51    2.0     Toyota        Sedan         NaN     NaN          V6               6.0       190.0             28.0      NaN
52    5.0       Audi  Convertible       104.5   179.5          V6               6.0         NaN             27.0  40000.0
53    8.0     Nissan    Hatchback        99.0   170.4          I4               4.0       180.0             30.0  25000.0
54    NaN        NaN          NaN         NaN     NaN         NaN               NaN         NaN              NaN      NaN
55    6.0  Chevrolet  Convertible       100.4   171.0          V8               8.0       350.0             24.0      NaN

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             55 non-null     float64
 1   company           55 non-null     object
 2   body-style        55 non-null     object
 3   wheel-base        54 non-null     float64
 4   length            54 non-null     float64
 5   engine-type       55 non-null     object
 6   num-of-cylinders  55 non-null     float64
 7   horsepower        52 non-null     float64
 8   average-mileage   55 non-null     float64
 9   price             52 non-null     float64
dtypes: float64(7), object(3)
memory usage: 4.5+ KB
None

In [17]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
51    False
52     True
53     True
54    False
55     True
dtype: bool

In [18]:
df.drop_duplicates(inplace=True)
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
51    False
54    False
dtype: bool

In [19]:
print(df.isnull().any(axis=1))

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
51     True
54     True
dtype: bool

In [20]:
df.dropna(inplace=True)
print(df.to_string())

    index    company   body-style  wheel-base  length engine-type  num-of-cylinders  horsepower  average-mileage    price
0     1.0     Toyota        Sedan       108.1   188.8          V6               6.0       190.0             28.0  22000.0
1     2.0      Honda    Hatchback        97.0   169.1          I4               4.0       150.0             32.0  18000.0
2     3.0       Ford          SUV       112.5   189.7          V8               8.0       300.0             22.0  35000.0
3     4.0        BMW        Coupe       101.2   174.5   In-line-6               6.0       250.0             26.0  45000.0
6     7.0   Mercedes        sedan       108.7   193.2          V8               8.0       400.0             21.0  55000.0
7     8.0     Nissan    Hatchback        99.0   170.4          I4               4.0       180.0             30.0  25000.0
8     9.0     Subaru        Wagon       104.1   184.3     Boxer-4               4.0       170.0             25.0  27000.0
9    10.0      Tesla        Sedan       116.5   191.2    Electric               0.0       450.0            130.0  60000.0
10   11.0       Ford    Hatchback        98.0   171.0          I4               4.0       160.0             29.0  19000.0
11   12.0     Toyota          SUV       110.0   182.0          V6               6.0       210.0             26.0  24000.0
12   13.0  Chevrolet        Sedan       104.3   178.5          I4               4.0       130.0             33.0  16000.0
13   14.0      Honda        Coupe        98.5   175.2          I4               4.0       145.0             32.0  20000.0
15   16.0       Audi  Convertible        99.5   171.8          I4               4.0       190.0             27.0  42000.0
16   17.0   Mercedes        Coupe       102.5   176.3          V8               8.0       300.0             24.0  52000.0
17   18.0      Tesla          SUV       116.0   193.8    Electric               0.0       500.0            120.0  75000.0
18   19.0     Nissan        Sedan       104.0   179.0          I4               4.0       170.0             30.0  23000.0
19   20.0     Toyota        Wagon       104.8   182.4          V6               6.0       210.0             25.0  28000.0
20   21.0        Kia        Sedan       107.2   184.5          I4               4.0       180.0             32.0  22000.0
21   22.0     Subaru          SUV       111.0   183.7     Boxer-4               4.0       200.0             22.0  33000.0
22   23.0       Ford        Sedan       106.8   178.0          V6               6.0       240.0             27.0  26000.0
23   24.0  Chevrolet          SUV       112.0   189.0          V6               6.0       250.0             20.0  34000.0
24   25.0       Audi    Hatchback        98.5   170.8          I4               4.0       160.0             29.0  21000.0
25   26.0        BMW  Convertible       101.5   174.7   In-line-6               6.0       270.0             25.0  47000.0
26   27.0      Honda        Wagon       104.3   183.4          I4               4.0       190.0             31.0  23000.0
27   28.0     Nissan          SUV       110.1   188.0          V6               6.0       220.0             24.0  31000.0
28   29.0     Toyota        Sedan       106.4   176.5          I4               4.0       160.0             33.0  18000.0
29   30.0      Honda          SUV       109.8   183.2          V6               6.0       230.0             26.0  33000.0
30   31.0       Ford        Sedan       107.5   179.9          V6               6.0       210.0             28.0  24000.0
31   32.0     Subaru        Sedan       106.0   174.5     Boxer-4               4.0       150.0             30.0  20000.0
32   33.0   Mercedes        Wagon       111.4   193.0          V8               8.0       350.0             23.0  45000.0
33   34.0      Tesla        Coupe       115.3   191.5    Electric               0.0       400.0            130.0  65000.0
34   35.0        Kia    Hatchback        98.3   169.9          I4               4.0       130.0             34.0  18000.0
35   36.0   Chrysler          SUV       113.2   188.0          V6               6.0       260.0             22.0  35000.0
36   37.0     Nissan  Convertible        99.8   171.5          I4               4.0       175.0             29.0  22000.0
37   38.0       Audi          SUV       110.0   180.4          V6               6.0       240.0             23.0  38000.0
38   39.0       Ford        Wagon       107.8   184.2          V8               8.0       350.0             21.0  40000.0
39   40.0  Chevrolet        Sedan       105.6   178.2          I4               4.0       150.0             31.0  21000.0
40   41.0     Toyota        Coupe       101.2   173.8          I4               4.0       170.0             32.0  25000.0
41   42.0      Honda        Sedan       108.1   182.9          I4               4.0       180.0             29.0  24000.0
42   43.0        BMW          SUV       112.3   185.7    Inline-6               6.0       280.0             24.0  50000.0
43   44.0  Chevrolet    Hatchback       100.0   170.0          I4               4.0       160.0             30.0  20000.0
44   45.0     Nissan        Coupe        99.2   170.7          I4               4.0       150.0             34.0  18000.0
45   46.0      Tesla          SUV       116.7   192.3    Electric               0.0       480.0            120.0  70000.0
46   47.0       Ford  Convertible       102.5   174.0          V8               8.0       400.0             20.0  38000.0
47   48.0        BMW        Sedan       103.8   179.3   In-line-6               6.0       260.0             25.0  47000.0
48   49.0       Audi        Coupe       105.2   181.4          I4               4.0       180.0             28.0  42000.0
49   50.0  Chevrolet        Wagon       110.2   185.6          V6               6.0       220.0             22.0  32000.0

In [21]:
group=df['company'].value_counts()
print(group)

Ford         6
Toyota       5
Honda        5
Nissan       5
Chevrolet    5
BMW          4
Tesla        4
Audi         4
Mercedes     3
Subaru       3
Kia          2
Chrysler     1
Name: company, dtype: int64

In [38]:
#print(f"Aveage Mileage: {df['average-mileage'].mean()}")
print(df.groupby('company')['average-mileage'].agg('mean'))

company
Audi          26.750000
BMW           25.000000
Chevrolet     27.200000
Chrysler      22.000000
Ford          24.500000
Honda         30.000000
Kia           33.000000
Mercedes      22.666667
Nissan        29.400000
Subaru        25.666667
Tesla        125.000000
Toyota        28.800000
Name: average-mileage, dtype: float64

In [ ]:
#high_price=df['price'].max()
#print(df.loc[df['price']==high_price,['company','price']])
agg_price=df.groupby('company')['price'].agg(['max'])
print(agg_price)

               max
company
Audi       42000.0
BMW        50000.0
Chevrolet  34000.0
Chrysler   35000.0
Ford       40000.0
Honda      33000.0
Kia        22000.0
Mercedes   55000.0
Nissan     31000.0
Subaru     33000.0
Tesla      75000.0
Toyota     28000.0